<%var eventnames,z,K;%>
<html>

	<head>
	
		<title>E-Summit’20</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Event -->
		<link rel="stylesheet" type="text/css" href="./css/core-style.css">
		<link rel="stylesheet" type="text/css" href="./css/event.css">
		<!-- cardio -->
		<link rel="stylesheet" type="text/css" href="./css/cardio.css">
		<!-- main css-->
		<link rel="stylesheet" type="text/css" href="./css/bootstrap4/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/default-theme.css">
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/main_styles.css">
		<link rel="stylesheet" type="text/css" href="./css/responsive.css">
		<link rel="stylesheet" type="text/css" href="./css/slick.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<!-- font-awesome -->
		<link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css">
		<!-- font-family -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800">
		
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
		<style>

			html{
				overflow-x:hidden;
				overflow-y:scroll;
				width:100%;
			}
		</style>
	</head>
	<body>
		<section id="tshirt-popup" class="hide-the-shit">
			<!-- partial:index.partial.html -->
			<div id="page">
			  <div class="card__container">
				<!--div class="card_bg_image-hero transition--loading loading"></div-->
				<div class="card1 loading transition--loading transition">
				  <div class="card__bg">
					<div class="close-offer-btn" id="close-offer"><i onClick="hideit();" class="material-icons">close</i></div>
					<div class="card_content_center container">
					  <img src="images/1.png" class="t-shirt-img" alt="t-shirt_img">
					</div>
				  </div>
				  <div class="card__content--bottom">
					<p class="t-shirt-price"> <strong>Price:  </strong><span class="cutted-price">Rs.315</span><span class="orig-price">299</span></p>
					<p class="t-shirt-desc">Offer Valid Only for <strong>First 25 </strong>T-shirts! HURRY UP</p>
					<a href="payment-page/index.html" onclick="window.open('https://forms.gle/mKWfCe2EzvLZVRCS8');" class="click-btn-hai middle transition push--bottom">Buy Now</a>       
				  </div>
				</div>
			  </div>
			</div>
			</section>
		<div class="super_container">
	
			<!-- Menu -->
	
			<div class="menu trans_500">
				<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
					<div class="menu_close_container">
						<div class="menu_close"></div>
					</div>
					<div class="logo menu_logo">
						<a href="#">
							<div class="logo_container d-flex flex-row align-items-start justify-content-start">
								<div class="logo_image">
									<div><img src="images/logo.png" alt=""></div>
								</div>
								<div class="logo_content">
									<div class="logo_text logo_text_not_ie">E-Summit’20</div>
									<div class="logo_sub">Breakthrough To Excellence</div>
								</div>
							</div>
						</a>
					</div>
					<ul>
						<li class="menu_item"><a href="/">Home</a></li>
						<li class="menu_item"><a href="#">Speakers</a></li>
						<li class="menu_item"><a href="/sponsors">Sponsors</a></li>
						<li class="menu_item"><a href="/Team">Team</a></li>
					<!---	<li class="menu-item"><a href="#" onclick="showit();">T-Shirt</a></li>-->
						<% if(x) {%>
	
							<button data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-circle fa-2x"></i></button>
															
															
															 <!--Profile Modal--> 
															<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog" role="document">
																  <div class="modal-content">
																	<div class="modal-header">
																	  <h5 class="modal-title" id="exampleModalLabel"><%=x%></h5>
																	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	  </button>
																	</div>
																	<div class="modal-body">
																		<p>Welcome! <%=y%></p>
																			<b>Events:</b></br>
																			<table>
																				<% for(var i=0; i < z; i++) { %>	
																				   <tr>
																					 <th style="width:250"><%= eventnames[i]%></th>
																					 <%if(K[i]=='1') {%>
																						<th> <button class="btn btn-success">Paid</button></th>
																						<%} else {%>
																							
																						  <th><button class="btn btn-danger " >Not-Paid</button></th>
																						<%}%>
																				   </tr>
																				<% } %>   
																				</table>

																	</div>
																	<div class="modal-footer">
																<a class="btn btn-success" href="/logout" role="button">Logout</a>
																	  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
																	</div>
																  </div>
																</div>
															  </div>	
						
						<%} else { %>
						<li class="menu_item"><a href="/login" style="background-color: #701f48;">Login</a></li>
						<li class="menu_item"><a href="/register">Register</a></li>
						<%}%>
					</ul>
				</div>
				<div class="menu_social">
					<div class="menu_social_title">Follow us on Social Media</div>
					<ul>
						<li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
	
			<!-- Home -->
	
			<div class="home">
				<!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
				<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/crowd.jpg" data-speed="0.8"></div>
	
				<!-- Header -->
	
				<header class="header" id="header">
					<div>
						<div class="header_top">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
											<div>
												<a href="#">
													<div class="logo_container d-flex flex-row align-items-start justify-content-start">
														<div class="logo_image">
															<div><img src="images/logo.png" alt=""></div>
														</div>
														<div class="logo_content">
															<div id="logo_text" class="logo_text logo_text_not_ie">E-Summit’20</div>
															<div class="logo_sub">Breakthrough To Excellence</div>
														</div>
													</div>
												</a>
											</div>
											<div class="header_social ml-auto">
												<ul>
													<li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
													<li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="header_nav" id="header_nav_pin">
							<div class="header_nav_inner">
								<div class="header_nav_container">
									<div class="container">
										<div class="row">
											<div class="col">
												<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
													<nav class="main_nav">
														<ul>
															<li class="active"><a href="/">Home</a></li>
															<li><a href="#">Speakers</a></li>
															<li><a href="/sponsors">Sponsors</a></li>
															<li><a href="/Team">Team</a></li>
															<li><a href="#" onclick="showit();">T-Shirt</a></li>
																													</ul>
													</nav>
													<div class="header_extra ml-auto"></div>
														<!-- <div class="header_search"><i class="fa fa-search" aria-hidden="true"></i></div> -->
														<% if(x) {%>
														 <!-- Button trigger modal -->
	                                                     <button type="button" class="fa fa-user fa-2x" data-toggle="modal" data-target="#exampleModalCenter"></button>
	  
	                                                     <!-- Modal -->
	                                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		                                                  <div class="modal-dialog modal-dialog-centered" role="document">
		                                                    <div class="modal-content">
			                                                  <div class="modal-header">
			                                                    <h5 class="modal-title" id="exampleModalLongTitle"><%=x%></h5>
			                                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                                                    <span aria-hidden="true">&times;</span>
			                                                       </button>
			                                                  </div>
			                                                  <div class="modal-body">
															        <p>Welcome! <b><%=y%></b></p>
																      <b>Events:</b></br>
																    <table cellspacing="10">
																	<% for(var i=0; i < z; i++) { %>	
																	   <tr>
																		 <th style="width:400"><%= eventnames[i]%></th>
																		 <th >
																		 <%if(K[i]=='1') {%>
																			 <button class="btn btn-success">Paid</button>
																			<%} else {%>
																				<button class="btn btn-danger">Not-Paid</button>
																			<%}%>
																		   </th>	
																	   </tr>
																	<% } %>   
																	</table>
			                                                  </div>
			                                               <div class="modal-footer">
				                                           <a class="btn btn-success" href="/logout">Logout</a>
			                                               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			                                              </div>
		                                                </div>
		</div>
	  </div>
	
	
														
														<% } else {%>
															<div class="button header_button"><a href="/login">Login</a></div>
														<% } %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						
							</div>
						</div>
					</div>
				</header>
	
				<div class="home_content_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_content">
									<div class="home_date">Februrary 29, 2020</div>
									<div class="home_title">E-summit 2020</div>
									<div class="home_location">KIET Group of Institutions</div>
									<!-- <div class="home_text">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div> -->
									<div class="home_buttons">
										<% if(!x){ %>
										<div class="button home_button"><a href="/register">Register</a></div>
										<%}%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		<main role="main">
			<!--About Section Start-->
	<!---		<section id="mu-speakers">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-speakers-area">
								<div class="mu-title-area">
									<h2 class="mu-title">About Us</h2>
								</div>
								<h4>Endeavour is an annual Techno_Entrepreneurial Summit of KIET, Ghaziabad</h4>
								<p>Our annual Techno-Entrepreneurial Summit, recorgnized as Endeavour, was initiated in 2015 and the rich legacy has been
									carried out from the past 5 years. It is embedded by technical, corporate and fun events as well as graced by guest lectures
									from eminent entrepreneur and speakers. The ambition is to bring the entrepreneurial culture and introduction of the student as well as 
									participant to the corporate world. The event is organised at inter-college level, due to which there is enormous competitin between the participant,
									and wins the prizes worth thousands.
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</section>-->
			<!-- Start Speakers -->
			<section id="mu-speakers">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-speakers-area">
								<div class="mu-title-area">
									<h2 class="mu-title">Our Speakers</h2>
								</div>
								<!-- Start Speakers Content -->
								<div class="mu-speakers-content">
									<div class="mu-speakers-slider">
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker One</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Two</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Three</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Four</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Five</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Six</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Seven</h3>
											
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
	
	
										<!-- Start single speaker -->
										<div class="mu-single-speakers">
											<img src="images/lock.png" alt="speaker img" height="250px" width="250px">
											<div class="mu-single-speakers-info">
												<h3>Speaker Eight</h3>
												
												<ul class="mu-single-speakers-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- End single speaker -->
									</div>
								</div>
								<!-- End Speakers Content -->
								<div class="mu-title-area">
									<button type="submit" class="mu-send-msg-btn"><span>Coming Soon</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Speakers -->
<!-- Event -->
<section id="section3" class="cd-section">
	<div class="cutter1"></div>
	<h2 class="text-center">
		Our Events
	</h2>
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row karl-new-arrivals">
			<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/bplan.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">B Plan</h4>
							<p class="description light-blue" style="text-align: justify;">Engaging minds, empowering success</p>

						</a>
					</div>

					<div class="button header_button" data-toggle="modal" data-target="#Bplan" style="margin-left:0;"><a href="# ">Learn
							More</a></div>

				</div>
				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">

							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/hack.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Hackathon</h4>
							<p class="description light-blue" style="text-align: justify;">Where ideas and technology synergize</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Hackathon" style="margin-left:0;"><a href="# ">Learn
							More</a></div>


				</div>
				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/chess.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">The Perfect Square</h4>
							<p class="description light-blue" style="text-align: justify;">One bad move nullifies fourteen good ones</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Cochess" style="margin-left:0;"><a href="#">Learn
							More</a></div>

				</div>
				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/camera.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Your Story</h4>
							<p class="description light-blue" style="text-align: justify;">Victory is just a click away</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Yourstory" style="margin-left:0;"><a href="#">Learn
							More</a></div>

				</div>
				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/stock.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Market Watch</h4>
							<p class="description light-blue" style="text-align: justify;">The compass for the marketplace</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Mwatch" style="margin-left:0;"><a href="#">Learn
							More</a></div>

				</div>

			<!---<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">

							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/tresure hunt.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Treasure Hunt</h4>
							<p class="description light-blue" style="text-align: justify;">Brainstorming is a-Maze-ing!</p>
						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#" style="margin-left:0;"><a href="#">Learn
							More</a></div>
					
				</div>--->
			


			 <div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
				<div class="product-img service">
					<a href="#" class="card credentialing">

						<div class="icon-holder">
							<div class="overlay"></div>
							<div class="circle">
								<img src="images/icons/hack.png" style="z-index:100;width:50px" class="iconwwh">
							</div>
						</div>
						<h4 class="heading sifonn light-blue" style="text-align: center;">B-Quiz</h4>
						<p class="description light-blue" style="text-align: justify;">Acknowledge knowledge at the speed of thought</p>

					</a>
				</div>
				<div class="button header_button" data-toggle="modal" data-target="#Bquiz" style="margin-left:0;"><a href="# ">Learn
						More</a></div>


			</div>

				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/football.png" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Fantasy Premier League</h4>
							<p class="description light-blue" style="text-align: justify;">11 players, one heartbeat</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Fpl" style="margin-left:0;"><a href="#">Learn
							More</a></div>

				</div>
					
				<div class="col-12 col-sm-6 col-md-4 single_gallery_item" style="text-align: center;">
					<div class="product-img service">
						<a href="#" class="card credentialing">
							<div class="icon-holder">
								<div class="overlay"></div>
								<div class="circle">
									<img src="images/icons/meme.jpg" style="z-index:100;width:50px" class="iconwwh">
								</div>
							</div>
							<h4 class="heading sifonn light-blue" style="text-align: center;">Memethon</h4>
							<p class="description light-blue" style="text-align: justify;">There is no such thing as too many memes</p>

						</a>
					</div>
					<div class="button header_button" data-toggle="modal" data-target="#Meme" style="margin-left:0;"><a href="#">Learn
							More</a></div>

				</div>



			</div>
			<div class="col-md-1"></div>
		</div>
</section>
<!--	 End Event -->
<!-- Start Venue -->
<section id="mu-venue">
<div class="mu-venue-area">
	<div class="row">

		<div class="col-md-6">
			<div class="mu-venue-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13991.581307913611!2d77.4988165!3d28.752542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5c6d6eefa89a5df!2sKIET%20Group%20of%20Institutions!5e0!3m2!1sen!2sin!4v1578933464162!5m2!1sen!2sin" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="col-md-6">
			<div class="mu-venue-address">
				<h2>VENUE <i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
				<h3>KIET Group of Institutions</h3>
				<h4>NH-58 Delhi-Meerut Road , Ghaziabad-201206</h4>
				<!-- <p></p> -->
			</div>
		</div>

	</div>
</div>
</section>
<!-- End Venue -->

<!-- Start FAQ -->
<section id="mu-faq">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="mu-faq-area">

				<div class="mu-title-area">
					<h2 class="mu-title">FAQ</h2>
					<!-- <p></p> -->
				</div>

				<div class="mu-faq-content">

					<div class="panel-group" id="accordion">

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
										<span class="fa fa-angle-down"></span> When we can register for the events of E-Summit’20?
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									The registration will open soon ,now you can go through events and and there you can register yourself for
									the events.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										<span class="fa fa-angle-up"></span> Is there any other mode of registration else than the website?
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									Yes, you can register through the app as well, the app will be released soon on the play store.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										<span class="fa fa-angle-up"></span>What are the available payment modes?
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									You can pay both online as well as offline, the procedure for online payment can be found at this link
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
										<span class="fa fa-angle-up"></span>What is the number of events we can register for?
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									There is no limit. You can register for as many events as you want.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
										<span class="fa fa-angle-up"></span>Is accommodation available for the students who want to stay?
									</a>
								</h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									Yes, accommodation would be available for the students.
								</div>
							</div>
						</div>


					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="mu-contact-area">

				<div class="mu-title-area">
					<h2 class="mu-heading-title">Contact Us</h2>
					<!-- <p></p> -->
				</div>

				<!-- Start Contact Content -->
				<div class="mu-contact-content">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-contact-form-area">
								<div id="form-messages"></div>
								<form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
									</div>
									<div class="form-group">
										<textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
									</div>
									<button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- End Contact Content -->
			</div>
		</div>
	</div>
</div>
</section>
<!-- End FAQ -->
</main>         


<!-- model bplan -->
<div id="Bplan" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">
<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">B Plan</h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body" style="text-align: left; color:black;">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#RulesTab_bplan" aria-controls="bplanRulesTab" role="tab" data-toggle="tab">Rules</a>
				</li>
				<li role="presentation" class="change">
					<a href="#Register_bplan" aria-controls="bplanRegistrationTab" role="tab" data-toggle="tab" class="btn btn-info">Register
						Here</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="RulesTab_bplan">
					<strong>DESCRIPTION</strong>
					<p>
						Ideas are abounded when you have the conviction to bring about a change around you. The
						flagship event, B-PLAN, lets you promulgate your ground-breaking ideas. Showcase your
						business skills and let the world see your entrepreneurial side. Gear up buddies! Prepare an
						abstract and showcase it to be a winner.
					</p>
					<strong>BENEFITS:</strong>
					<ul style="list-style-type:circle;">
						<li>To get the idea mentored by entrepreneur and investors.</li>
						<li>A chance to get the idea funded</li>
						<li>Developing the entrepreneurial skills</li>
					</ul>
					<strong>STRUCTURE:</strong>
					<ul style="list-style-type:circle;">
						<li>Team size – 1-3 members</li>
						<li>The event consists of two rounds</li>
					</ul>
					<strong>1. Round One:- Abstract Submission</strong>
					<ul style="list-style-type:circle">
						<li>Participants will be given the form through the mail which they will have to fill up
						  which will consist of several subjective questions based on the different
							aspects of the Startup.
							
						</li>
					</ul>
					
						<strong>2. Round Two:- Presentation</strong>
						<p>This is the final round. Participants will pitch their idea that they have presented before. There
							will be 5 minutes allotted for presentation and a 2 minute questionnaire round.
							
							</p>
					<strong>RULES</strong>
					<ul style="list-style-type:circle">
						<li>The business idea must be unique and feasible.</li>
						<li>The team without the proper format of the presentation will be disqualified.</li>
						<li>There is no need for laptops for presentation.</li>
						<li>Final decision of judges will not be questionable.</li>
						<li>Participants should maintain decorum during the event.</li>
					</ul>
					<strong>FAQ’S :</strong>
					<ul style="list-style-type:circle">
						<li>
							<p>Q- Are intercollege members allowed to form a single team?</p>
							<p>A- Yes, intercollege members are allowed to form a single team.</p>
						</li>
						<li>
							<p>Q- What points must be kept in mind while preparing for the presentation?</p>
							<p>A- Since presentation is a shorthand representation of your business idea, therefore, it must
								contain a brief introduction to all related points.
							</p>
						</li>
						<li>
							<p>Q- What modes can we use for our presentation?</p>
							<p>A- The presentation on the final round will be a .ppt. There is no need to make any file or a hard
								copy of your business plan.</p>
						</li>
						<li>
							<p>Q- How should we bring our presentation?</p>
							<p>A- The presentation should be brought in a pen-drive.
								</p>
						</li>
						<li>
							<p>Q- Can we extend the time limit allotted to us?</p>
							<p>A- Extension of the time is not allowed.
								</p>
						</li>
						<li>
							<p>Q- Is there any criteria regarding team size?</p>
							<p>A- The maximum size of the team is 3 members, and even a single person can also represent his
								idea but more than 3 members are not allowed.
								</p>
						</li>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="Register_bplan">

					<div class="form-group">
						<p class="status" style='color:red;font-weight: bold;'></p>

						<big>
							<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
						</big>

						<div>
							<input type="text" class="form-control mbr" id="m1id" value="">
							<p class="stats" style='color:red;font-weight: bold;'></p>
						</div>
						<big>
							<label for="exampleInputEmail1">Third Member E-Summit Id:</label>
						</big>
						<div>
							<input type="text" class="form-control mbr" id="m2id" value="">
							<p class="stats" style='color:red;font-weight: bold;'></p>
						</div>
						<big>
							<label for="exampleInputEmail1">Campus Ambassador Id:</label>
						</big>
						<input type="text" class="form-control" id="caid" value="">
						<big class="form-text text-muted">Not Mandatory.</big>
						<hr>
						<button class="btn btn-primary" id="bplan">Register</button>
						<form action="/payment" method="POST" style="margin-top:30;">
							<input type="hidden" name="CUST_ID" value="<%=x%>">
							<input type="hidden" name="TXN_AMOUNT" value="300">
							<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce5fd">
							<button class="btn btn-primary float_left" id="bplan">Payment</button>
						</form>
						

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>
<!--bplan modal ends-->





<!--Hackathon modal starts-->
<div id="Hackathon" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
	<h4 class="modal-title">Hackathon</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="text-align: left; color:black;">
	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#Rules_hackathon" aria-controls="hackathonRulesTab" role="tab" data-toggle="tab">Rules</a>
			</li>
			<li role="presentation" class="change" class="mod">
				<a href="#Register_hackathon" aria-controls="hackathonRegistrationTab" role="tab" data-toggle="tab" class="bt btn-info">Register
					Here</a>
			</li>

			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Rules_hackathon">
				<strong>DESCRIPTION</strong>
				<p>
					while (alive)
					{ wake_up_with_code(); work_with_code(); sleep_with_code(); repeat ();
					}
					Is CODING your 21st Century Oxygen?
					If your answer pops up to a “YES” then this will surely capture your mind!
					If this is what you ought to do we bring to you an opportunity to grow as a coder, a designer, a
					developer, a creator and an entrepreneur of tomorrow. We present before you much-awaited
					event for all those techno-entrepreneurs sitting there HACKATHON’20.
					Hackathon'20 is an occasion which unites best coders, engineers, originators, trend-setters,
					makers and business visionaries of tomorrow. It is prepared for the individuals who are energetic
					about building, outlining and improving. It is a 25 hr event where the devotees meet, create and
					contend in the product prototyping rivalry. The event will start on day 1, that is 29th February
					and will continue till day 2, that is 1st March. The participants may work on any of the themes be
					it Blockchain, AR/VR, Cloud Computing, ChatBots, Web/Mobile, Embedded system, Internet of
					Things(IoT), Machine learning/Deep learning, Artificial Intelligence and many others. We
					empower a wide range of thoughts, regardless of whether it is proof of the idea, resembles
					works-like model or a simple prototype.
					So gear up buddies it’s time to brush up your coding skills and let your mind work faster than
					your thoughts!
				</p>
			    <!--
				<strong>BENEFITS:</strong>
				<ul style="list-style-type:circle;">
					<li>We will call investors for the development of the idea.</li>
				</ul>
			-->
				<strong>STRUCTURE:</strong>
				<ul style="list-style-type:circle;">
					<li>Team size: Maximum 4 participants per team. Minimum 2 Participants</li>
					<li>Duration: 25hours</li>
					<li>01:00hrs of the workshop will be created for the participants during the hackathon</li>
				</ul>
				<!--
				<strong>ROUND ONE-ONLINE SUBMISSION- PRELIMINARY ROUND:</strong>
				<ul style="list-style-type:circle">
					<li>Participants will have to submit the abstract in the form of pdf.</li>
					<li>Abstract must include the summary of your B plan.</li>
					<li>There is no need to mention all the details in the abstract.</li>
				</ul>
				<strong>ROUND TWO- PRESENTATION</strong>
				<p>In this, participants will come with a PPT to present their idea. There will be 5-10
					minutes of presentation and 2-5 minutes of questionnaire round.
					<br>
					<br>The following points must be included in the presentation:</p>
				<ul style="list-style-type:circle">
					<li> Topic of your plan</li>
					<li>Description of your company, including your products and/or services</li>
					<li>Mission statement</li>
					<li>Market analysis</li>
					<li>Sales and marketing model</li>
					<li>Revenue model</li>
					<li>Conclusion</li>
				</ul>
			
				 <strong>ROUND THREE- PRESENTATION</strong>
						<ul style="list-style-type:circle">
						<li>In this round, participants will come with their idea that they have presented before. There will be 5-10 minutes presentation and 2-5 minutes questionnaire round.</li>
							</ul> 
						-->
				<strong>RULES :</strong>
				<ul style="list-style-type:circle">
				<li>Participants should maintain civil decorum throughout the event.</li>
				<li>All code/modules should be written and developed during the Hackathon.</li>
				<li>Event prizes are non-transferable.</li>
				<li>Participants should listen to all the directions given by the organising committee.</li>
				<li>It’s your responsibility to maintain coordination with the team.</li>
				<li>At the end of the event, you must present/submit a working prototype/model.</li>
				<li>In case of any dispute, the decision given by the judges will be final.</li>
				</ul>
				<!--
				<strong>FAQ'S :</strong>
				<ul style="list-style-type:circle">
					<li>
						<p>Are intercollege members allowed to form a single team?</p>
						<p>Yes</p>
					</li>
					<li>
						<p>What points must be kept in mind while forming abstract?</p>
						<p>Since abstract is a shorthand representation of your business idea, therefore,
							it must contain a brief introduction to the main points.</p>
					</li>
					<li>
						<p>What modes can we use for our presentation?</p>
						<p>The presentation on the final round will be a .ppt. There is no need to make
							any file or a hard copy of your business plan.</p>
					</li>
					<li>
						<p>Can we extend the time limit allotted to us?</p>
						<p>Extention of the time limit is strictly prohibited, this can lead to negative
							marking. Your ppt presentation must be finished within the allotted time
							frame or else your business idea won’t be considered as complete.</p>
						</li1>
					<li>
						<p>Is there any criteria regarding team size?</p>
						<p>The maximum size of the team is 3 members, even a single member can also
							present the idea but more than 3 members are not allowed.</p>
					</li>
				</ul>
			-->
			</div>
			<div role="tabpanel" class="tab-pane" id="Register_hackathon">

				<div class="form-group">
					<p class="status" style='color:red;font-weight: bold;'></p>

					<big>
						<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
					</big>

					<div>
						<input type="text" class="form-control mbr" id="m3id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Third Member E-Summit Id:</label>
					</big>
					<div>
						<input type="text" class="form-control mbr" id="m4id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Fourth Member E-Summit Id:</label>
					</big>
					<div>
						<input type="text" class="form-control mbr" id="m5id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Campus Ambassador Id:</label>
					</big>
					<input type="text" class="form-control" id="caid" value="">
					<big class="form-text text-muted">Not Mandatory.</big>
					<hr>

					<button class="btn btn-primary" id="hackathon" >Register</button id>
				<form action="/payment" method="POST"style="margin-top:30;">
							<input type="hidden" name="CUST_ID" value="<%=x%>">
							<input type="hidden" name="TXN_AMOUNT" value="400">
							<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce5fc">
							<button class="btn btn-primary float-left" id="bplan">Payment</button>
						</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!--Hackathon modal ends-->









<!--The Perfect Square modal starts-->
<div id="Cochess" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
	<h4 class="modal-title">The Perfect Square</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="text-align: left; color:black;">
	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#Rules_cochess" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>

			</li>
			<li role="presentation" class="change">
				<a href="#Register_cochess" aria-controls="RegistrationTab" role="tab" data-toggle="tab" >Register
					Here</a>

			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Rules_cochess">
				<strong>DESCRIPTION</strong>
				<p>Do you have a strategic mind and basic business skills? Then this corporate event is for you. CoChess is the game in which you can show your strategic business skills and let the world see
					your entrepreneurial side.</p>
				<strong>BENEFITS:</strong>
				<ul style="list-style-type:circle;">
				  <li>To improve business problem solving and corporate skills.</li>
				  <li>To increase the instant decision making skill of the participants.</li>
				</ul>
				<strong>STRUCTURE:</strong>
				<ul style="list-style-type:circle;">
					<li>Team size : 1-3 members</li> 
					<li>The event consists of three rounds </li>
				</ul>
				<strong>1. Round One – Case Study</strong>
				  <p>The participants will be given a case study based on entrepreneurship. They have to come up
					with the appropriate solution for the same. And also what they have learned from the case, with
					the unique point which is related to entrepreneurship. They have to solve the problem statement
					given to them in a given amount of time.
					</p>
				<strong>2. Round Two:- Board Game</strong>
				<ul style="list-style-type:circle;">
				  <li>4 teams who will qualify round 1 will participate in the second round.</li>
				  <li>Now two teams will play this game at a time.</li>
				  <li>The participants have to move their pawns the same way they are moved in chess.</li>
				  <li>The participants have to collect the products on the remaining blocks of the chess board.</li>
                  <li>Each team will be provided with five pawns.</li>
				  
				</ul>              
				<strong>3. Round Three:- Auction Round</strong>
				<ul style="list-style-type: circle;">
					<li>2 teams who will qualify round 2 will participate in the third round.</li>
					<li>All the 15 products in the second round will be auctioned in the auction round.</li>
					<li>Virtual money will be given to both the teams for theauction.</li>
				 </ul>
				<strong>JUDGING CRITERIA</strong>
			<p>Teams which have more valuable products will win the game.</p>
			
				<strong>FAQ'S :</strong>
				<ul style="list-style-type:circle;">
					<li>
						<p>Q- Case study will be based on what theme?</p>
						<p>A- Simple Business related cases.</p>
					</li>
					<li>
						<p>Q- Mode of payment?</p>
						<p>A- Online and offline both.</p>
					</li>
					<li>
						<p>Q- Can teams contain members of all years?</p>
						<p>A- Yes</p>
					</li>
					<li>
						<p>Q- Are the no. of moves limited?</p>
						<p>A- Yes</p>
					</li>
				
				</ul>
			
			</div>
			<div role="tabpanel" class="tab-pane" id="Register_cochess">
				<div class="form-group">
					<p class="status" style='color:red;font-weight: bold;'></p>

					<big>
						<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
					</big>

					<div>
						<input type="text" class="form-control mbr" id="m6id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Campus Ambassador Id:</label>
					</big>
					<input type="text" class="form-control" id="caid" value="">
					<big class="form-text text-muted">Not Mandatory.</big>
					<hr>

					<button id="cochess" class="btn btn-primary">Register</button>
					<form action="/payment" method="POST" style="margin-top:30;">
						<input type="hidden" name="CUST_ID" value="<%=x%>">
						<input type="hidden" name="TXN_AMOUNT" value="200">
						<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce5ff">
						<button class="btn btn-primary float-left">Payment</button>
					</form>

			</div>
		</div>
	</div>
</div>
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!--co-Chess Modal Ends-->

<!--Your Story Modal starts-->

<div id="Yourstory" class="modal" role="dialog">
	<div class="modal-dialog modal-lg modal-xl">
	
		<!-- Modal content-->
		
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Your Story</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" style="text-align: left; color:black;">
				<div role="tabpanel">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#Rules_yourstory" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>
	
						</li>
						<li role="presentation" class="change">
							<a href="#Register_yourstory" aria-controls="RegistrationTab" role="tab" data-toggle="tab">Register Here</a>
	
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="Rules_yourstory">
							<strong>DESCRIPTION</strong>
							<p>
								Are you a writer, photographer or a keen observer, observe E-summit and send your views on it.
	
							</p>
							<strong>BENEFITS: </strong>
							<ul style="list-style-type:circle;">
								<li>To enhance the capability of making strategies.
								</li>
								<li>To increase the instant decision making skill of the participants.
								</li>
							</ul>
							<strong>STRUCTURE:</strong>
							<ul style="list-style-type:circle;">
								<li>Team size- maximum 2 members
								</li>
								<li>There are two independent rounds in this event.
								</li>
							</ul>
						
							<strong>Round :</strong>
							<ul style="list-style-type:circle;">
								<li>If you are good in videography then submit a short video of minimum 1.5 minutes.</li>
									<li>The last
									date for submitting is one week after the event.</li>
								<li>Team will have to give an article of 200-300 words regarding our e-summit
										including photographs.
									
								</li>
							</ul>
							<strong>RULES</strong>
							<ul style="list-style-type:circle;">
								<li>The participants must choose only one of the above categories.</li>
								<li>Only the area where the E Summit events are taking place should be covered.</li>
								<li>All the other college region is restricted.</li>
								<li>Anyone found roaming or breaking the rules will be then and there disqualified.</li>
								
								
							
						</ul>
							<strong>FAQ'S</strong>
							<ul style="list-style-type:circle;">
								<li>
									<p>Is It compulsary to take part in both events?
									</p>
									<p>NO </p>
								</li>
								<li>
									<p>How many pictures can be added in the articles?
									</p>
									<p>There is no limit.</p>
								</li>
								<li>
									<p>When will be the submission of articles begin?
									</p>
									<p>4th march’20, 12:00 PM.</p>
								</li>
								<li>
									<p> Will there be separate registration for both the events?
									</p>
									<p>Yes</p>
								</li>
								<li>
									<p>Will there be separate prizes for both the events?
									</p>
									<p>Yes</p>
								</li>
								<li>
									<p>Do we have to feature ourselves in the after movie?
									</p>
									<p>No compulsion.</p>
								</li>
								<li>
									<p>Will the whole campus be open for this event?
									</p>
									<p> No, Only the area where e-summit events are going on.
									</p>
								</li>
							</ul>
							
						</div>
						<div role="tabpanel" class="tab-pane" id="Register_yourstory">
	
							<div clas="form-group">
								<p class="status" style='color:red;font-weight: bold;'></p>
	
								<big>
									<label for="exampleInputEmail1">Second Member Id:</label>
								</big>
								<div>
									<input type="text" class="form-control mbr" id="m7id" value="">
									<p class="stats" style='color:red;font-weight: bold;'></p>
								</div>
								<big>
									<label for="exampleInputEmail1">Campus Ambassador Id:</label>
								</big>
								<input type="text" class="form-control" id="caid" value="">
								<big class="form-text text-muted">Not Mandatory.</big>
								<hr>
	
								<button id="yourstory" class="btn btn-primary ">Register</button>
								<form action="/payment" method="POST"style="margin-top:30;">
									<input type="hidden" name="CUST_ID" value="<%=x%>">
									<input type="hidden" name="TXN_AMOUNT" value="150">
									<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce602">
									<button class="btn btn-primary float-left">Payment</button>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
	
									<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			
	<!--Your Story Model Ends-->





<!--B-Quiz modal starts-->

<div id="Bquiz" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
	<h4 class="modal-title">B-Quiz</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="text-align: left; color:black;">
	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#Rules_bquiz" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>

			</li>
			<li role="presentation" class="change">
				<a href="#Register_bquiz" aria-controls="RegistrationTab" role="tab" data-toggle="tab" class="btn btn-info">Register
					Here</a>

			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Rules_bquiz">
				<strong>DESCRIPTION</strong>
				<p>Time has come to battle out with the sharpest minds in the form of mind-boggling questions and answers.
					</p>
				<strong>BENEFITS:</strong>
				<ul style="list-style-type:circle;">
					<li>To check the knowledge of the participants in various business/corporate domains.</li>
				</ul>
				<strong>STRUCTURE:</strong>
				<ul style="list-style-type:circle;">
					<li>Team size – maximum 2 members</li>
					<li>The event consists of two rounds</li>
				</ul>
				<strong>Round 1-</strong>
				<p>In this round, questions will be related to corporate and entrepreneur knowledge.
					Google will be provided to the team.
					</p>
				<strong>Round 2-</strong>
				<p>This round is to test your knowledge about the entrepreneur and business world. It will be held between the teams qualified from round 1.
					The team with maximum correct answers wins the quiz.
					</p>
				<strong>RULES :</strong>
				<ul style="list-style-type:circle;">
					<li>The teams are allowed to use the internet in round1.</li>
					<li>Teams who gets maximum points will qualify from round1</li>
					<li>The participant should answer in the given timelimit</li>
					<li>No withdrawn after registration.</li>
				</ul>
				<!--
				<strong>FAQ'S :</strong>
				<ul style="list-style-type:circle;">
					<li>
						<p>Are intercollege members allowed to form a single team?</p>
						<p>Yes, intercollege members are allowed to form a single team.</p>
					</li>
					<li>
						<p>Is there any criteria regarding team size?</p>
						<p>The maximum size of the team is 2 members, even one member can also participate
							but more than 2 members are not allowed. </p>
					</li>
					<li>
						<p>Can we participate in the online round from anywhere using internet connection?</p>
						<p>No, the online round will be conducted at the venue. Login id and password
							will be provided at the venue only.</p>
					</li>
					<li>
						<p>Is use of internet allowed?</p>
						<p>Use of the Internet is allowed only in the second round.</p>
					</li>
					<li>
						<p>How we will be informed about our results?</p>
						<p>The result of rounds will be informed via mail or phone call to the team
							leader.
						</p>
					</li>
				</ul>
			-->
			<strong>JUDGEMENT CRITERIA</strong>
			<ul style="list-style-type: circle;">
				<li>Teams who gets maximum points will qualify from round1</li>
			<li>The team with maximum correct answers will win the secondround.
</li>						
			</ul>
			</div>
			<div role="tabpanel" class="tab-pane" id="Register_bquiz">
				<div clas="form-group">
					<p class="status" style='color:red;font-weight: bold;'></p>

					<big>
						<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
					</big>

					<div>
						<input type="text" class="form-control mbr" id="m9id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Campus Ambassador Id:</label>
					</big>
					<input type="text" class="form-control" id="caid" value="">
					<big class="form-text text-muted">Not Mandatory.</big>
					<hr>

					<button  class="btn btn-primary" id="bquiz">Register</button>
					<form action="/payment" method="POST"style="margin-top:30;">
						<input type="hidden" name="CUST_ID" value="<%=x%>">
						<input type="hidden" name="TXN_AMOUNT" value="150">
						<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce5fe">
						<button class="btn btn-primary float-left" >Payment</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<!--B-Quiz Modal Ends-->







<!--Memethon modal starts-->

<div id="Meme" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
	<h4 class="modal-title">Memethon</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="text-align: left; color:black;">
	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#Rules_meme" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>

			</li>
			<li role="presentation" class="change">
				<a href="#Register_meme" aria-controls="RegistrationTab" role="tab" data-toggle="tab" class="btn btn-info">Register
					Here</a>

			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Rules_meme">
				<strong>DESCRIPTION</strong>
				<p> The time has come to think outside the box. The event is based to depict the creative and advertising skills of the individual by promoting various brands through memes.
				</p>
				<strong>BENEFITS:</strong>
				<ul style="list-style-type:circle;">
					<li>To enhance creativity skills of the participants.</li>
					
					<li>To enhance the advertising skills of the participants.</li>
				</ul>
				<strong>STRUCTURE:</strong>
				<ul style="list-style-type:circle;">
					<li>Team size: 1 Member</li>
					<li>Rounds: 1 Round</li>
				</ul>
				<strong>ROUND ONE- MEME BATTLE</strong>
				<ul style="list-style-type:circle;">
					<li>The teams have to make the meme on the brand given to them and submit it before the deadline given to them.
						</li>
					<li> 
						At a time two memes will be posted on the E-cell page as story and meme battle will take place among them for a specific period of time.
					</li>
					<li> 
						The memes will also be posted to Endeavour Android Application for a specific period of time and the voting process will take place between them.
					</li>
				</ul>
			
				<strong>RULES :</strong>
				<ul style="list-style-type:circle;">
					<li>Only one entry per team is allowed.
						
					</li>
					<li>    
				    Each team would be given templates and they have to design their promotional meme accordingly.
						
					</li>
					<li>   
						Plagiarism is strictly prohibited.
					
					</li>
					<li>   
					Memes should be free from any kind of vulgar or offensive content otherwise it will lead to disqualification of the team.
						
					</li>
					<li>   
					  Memes should be free from names of team member and team’s name or any person.
					</li>
				</ul>
				<!--
				<strong>FAQ'S :</strong>
				<ul style="list-style-type:circle;">
					<li>
						<p>Are intercollege members allowed to form a single team?</p>
						<p>Yes, intercollege members are allowed to form a single team.</p>
					</li>
					<li>
						<p>Is there any criteria regarding team size?</p>
						<p>The maximum size of the team is 2 members, even one member can also participate
							but more than 2 members are not allowed. </p>
					</li>
					<li>
						<p>Can we participate in the online round from anywhere using internet connection?</p>
						<p>No, the online round will be conducted at the venue. Login id and password
							will be provided at the venue only.</p>
					</li>
					<li>
						<p>Is use of internet allowed?</p>
						<p>Use of the Internet is allowed only in the second round.</p>
					</li>
					<li>
						<p>How we will be informed about our results?</p>
						<p>The result of rounds will be informed via mail or phone call to the team
							leader.
						</p>
					</li>
				</ul>
			-->
			<strong>JUDGING CRITERIA</strong>
			<ul style="list-style-type:circle;">
				<li>
					Judging criteria will be as follows:
					60% of voting through Instagram Story + 40% of voting through Android App 
				</li>
			</div>
			<div role="tabpanel" class="tab-pane" id="Register_meme">
				<div clas="form-group">
					<p class="status" style='color:red;font-weight: bold;'></p>

					<big>
						<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
					</big>

					<div>
						<input type="text" class="form-control mbr" id="m11id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Campus Ambassador Id:</label>
					</big>
					<input type="text" class="form-control" id="caid" value="">
					<big class="form-text text-muted">Not Mandatory.</big>
					<hr>

					<button id="meme" class="btn btn-primary">Register</button>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<!--Memethon Modal Ends-->








<!--Fantasy Premier League Modal starts-->
<div id="Fpl" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
	<h4 class="modal-title">Fantasy Premier League</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="text-align: left; color:black;">
	<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#Rules_fpl" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>

			</li>
			<li role="presentation" class="change">
				<a href="#Register_fpl" aria-controls="RegistrationTab" role="tab" data-toggle="tab" class="btn btn-info">Register
					Here</a>

			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Rules_fpl">
				<strong>DESCRIPTION</strong>
				<p>
					Are you a fan of the football game? Then come and join us to create your football team.
				</p>
				<strong>BENEFITS:</strong>
				<ul style="list-style-type:circle;">
					<li> To enhance the knowledge of finance among participants. </li>
					<li>To increase the instant decision
						making skill of the participants.</li>
					
				</ul>
				<strong>STRUCTURE:</strong>
				<ul style="list-style-type:circle;">
					<li>No. of members: 2</li>
					<li>No. of rounds: 2</li>
				</ul>
				<strong>ROUND ONE-</strong>
				<ul style="list-style-type:circle">
					<li>Round 1 is a quiz round.</li>
					<li>It will consist questions related to football.</li>
					<li>Top 6 teams with maximum correct answers would qualify for the auction round.</li>
				</ul>
				<strong>ROUND TWO- </strong>
				<ul style="list-style-type:circle">
					<li>This is an auction round, where participants have to make a football team of 11 players.
					</li>
					<li>Every player will have their respective strength.</li>
					<li>Teams with overall maximum strength wins the game.</li>
					
					
				</ul>
				<strong>RULES :</strong>
				<ul style="list-style-type:circle">
					<li>No member would be allowed to leave the venue at the time of auction.</li>
					
					<li>Strength of each player is decided by the auctioneers only.</li>
					<li>Only round 1 qualifiers will participate in the auction round.</li>
				</ul>
				<strong>FAQ’s</strong>
				<ul style="list-style-type:circle">
					<li>
						<p>Q- Are inter college teams allowed to form a team?</p>
						<p>A- Yes</p>
					</li>
					<li>
						<p>Q- What happens if a team of 11 is not made?</p>
						<p>A- You will be disqualified.</p>
					</li>
					<li>
						<p>Q- What type of questions will be there in 1st round?</p>
						<p>A- Questions related to football.</p>
					</li>
					
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane" id="Register_fpl">
				<div clas="form-group">
					<p class="status" style='color:red;font-weight: bold;'></p>

					<big>
						<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
					</big>

					<div>
						<input type="text" class="form-control mbr" id="m10id" value="">
						<p class="stats" style='color:red;font-weight: bold;'></p>
					</div>
					<big>
						<label for="exampleInputEmail1">Campus Ambassador Id:</label>
					</big>
					<input type="text" class="form-control" id="caid" value="">
					<big class="form-text text-muted">Not Mandatory.</big>
					<hr>

					<button id="fpl" class="btn btn-primary">Register</button>
					<form action="/payment" method="POST" style="margin-top:30;">
						<input type="hidden" name="CUST_ID" value="<%=x%>">
						<input type="hidden" name="TXN_AMOUNT" value="200">
						<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce603">
						<button class="btn btn-primary float-left" >Payment</button>
					</form>	

				</div>
			</div>
		</div>
	</div>
</div>
	<div class="modal-footer">


		<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>
</div>
<!--Fantasy Premier League model ends-->











<!--Market Watch Modal starts-->

<div id="Mwatch" class="modal" role="dialog">
<div class="modal-dialog modal-lg modal-xl">

<!-- Modal content-->

<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Market Watch</h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	<div class="modal-body" style="text-align: left; color:black;">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#rules_mw" aria-controls="RulesTab" role="tab" data-toggle="tab">Rules</a>

				</li>
				<li role="presentation" class="change">
					<a href="#register_mw" aria-controls="RegistrationTab" role="tab" data-toggle="tab" class="btn btn-info">Register
						Here</a>

				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="rules_mw">
					<strong>DESCRIPTION</strong>
					<p>“All the math you need for stock market is taught in 4th grade.” <br>
Do you have the skills to build a perfect portfolio? Then this event gives you a chance to practice
and master your skills.<br>
This event is based on investing in the stock market using virtual money.<br>

					</p>
					<strong>BENEFITS:</strong>
					<ul style="list-style-type:circle;">
						<li>To enhance the knowledge of the stock market.</li>
						<li>To develop the investing and trading skills.</li>
						<li>To increase critical thinking and analytical capacity.
						</li>
					</ul>
					<strong>STRUCTURE:</strong>
					<ul style="list-style-type:circle;">
						<li>Team size: 1-2 members</li>
						<li>The event consists of only 1 round.</li>
						<li>The event will be of 1 hour.</li>
					</ul>
					<strong>ROUND</strong>
					<ul style="list-style-type:circle">
					  <li>Teams will be given virtual money</li>
					  <li>A case study will be provided of companies which will help to predict the price variation of shares.</li>
						<li>The working of the event is similar to the real market.</li>
						
					</ul>
					
					<strong>RULES :</strong>
					<ul style="list-style-type:circle">
						<li>Any kind of cheating will lead to direct disqualification.</li>
						 <li>Final decisions of the judges will not be questionable.</li>
						  <li>The E-Cell team has the right to disqualify any participant at any point.</li>
					</ul>
					<strong>Judging Criteria</strong>
					<strong>FAQ’s</strong>
					<ul style="list-style-type:circle">
						<li>
							<p>Q1. Can we team up with other teams or borrow cash?</p>
							<p>Ans. No, any borrowing or lending of cash or stocks will lead to disqualification. </p>
						</li>
						<li>
							<p>Q2. What happens if we do not buy any share in the event?</p>
							<p>Ans. You will be disqualified as you have to buy/sell at least one share in the event.</p>
						</li>
						<li>
							<p> Q3. Is it necessary that we know about the real stock market?</p>
							<p>Ans. No, it is not compulsory but it is advisable to have a little knowledge about the real world
								market to easily understand about the working.</p>
						</li>
						
						<li>
							<p>Q4. Is there any limit on buying or selling?</p>
							<p>Ans. You can buy or sell shares any number of times in the event.</p>
						</li>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="register_mw">
					<div clas="form-group">
						<p class="status" style='color:red;font-weight: bold;'></p>

						<big>
							<label for="exampleInputEmail1">Second Member E-Summit Id:</label>
						</big>

						<div>
							<input type="text" class="form-control mbr" id="m8id" value="">
							<p class="stats" style='color:red;font-weight: bold;'></p>
						</div>
						<big>
							<label for="exampleInputEmail1">Campus Ambassador Id:</label>
						</big>
						<input type="text" class="form-control" id="caid" value="">
						<big class="form-text text-muted">Not Mandatory.</big>
						<hr>

						<button id="mwatch" class="btn btn-primary">Register</button>
				<form action="/payment" method="POST" style="margin-top:30;">
							<input type="hidden" name="CUST_ID" value="<%=x%>">
							<input type="hidden" name="TXN_AMOUNT" value="150">
							<input type="hidden" name="EVENT_ID" value="5e2dfdeef6a4be24209ce600">
							<button class="btn btn-primary float-left">Payment</button>
						</form>	

					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">


			<button type="button" class="btn btn-danger ref" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>
</div>
</div>

<!--Market Watch Model Ends-->

							<div id="mydiv" name="hid" data-test=<%=x %>></div>
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
//B-Plan Function
$(document).ready(function(){
    $('#bplan').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
		  param.team_id = [ m1id=document.querySelector('#m1id').value,m2id=document.querySelector('#m2id').value];
          param.event_id = "5e2dfdeef6a4be24209ce5fd";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant/bplan',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
						if(data.status==95){
							alert("Already Registered");
						} 
						else if(data.status==96){
							alert("Participant not Found");
						} 
						else if(data.status==405){
							alert("Please login first");
						} else{ 
						alert("Congratulations!,You sucessfully registerd in B-Plan!");
						}
                      }
          });
	});
});
//Hackathon

$(document).ready(function(){
    $('#hackathon').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
		  param.team_id = [m1id=document.querySelector('#m3id').value,m2id=document.querySelector('#m4id').value,m3id=document.querySelector('#m5id').value];
          param.event_id = "5e2dfdeef6a4be24209ce5fc";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant/hackathon',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
						if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in Hacakthon!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
		  console.log(document.querySelector('#m4id').value);
	console.log(document.querySelector('#m5id').value);
	console.log(document.querySelector('#m6id').value);
	});
	
});

//Co-chess
$(document).ready(function(){
    $('#cochess').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ m1id=document.querySelector('#m6id').value];
          param.event_id = "5e2dfdeef6a4be24209ce5ff";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant/mm',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
                        if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in The Perfect Square!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
	});
});
//yourstory
$(document).ready(function(){
    $('#yourstory').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ m1id=document.querySelector('#m7id').value];
          param.event_id = "5e2dfdeef6a4be24209ce602";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
                        if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in Your Story!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
	});
});
//Stock Market

$(document).ready(function(){
    $('#mwatch').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ m1id=document.querySelector('#m8id').value];
          param.event_id = "5e2dfdeef6a4be24209ce600";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant/mm',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
						if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in Market Watch!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                       
                      }
		  });		  
	});
});
//B-Quiz 

$(document).ready(function(){
    $('#bquiz').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ m1id=document.querySelector('#m9id').value];
          param.event_id = "5e2dfdeef6a4be24209ce5fe";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
                        if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in B-Quiz!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
	});
});

//Football Fantasy
$(document).ready(function(){
    $('#fpl').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ mild=document.querySelector('#m10id').value];
          param.event_id = "5e2dfdeef6a4be24209ce603";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant/mm',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
                        if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in Fantasy Premier League!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
	});
});

//memethon
$(document).ready(function(){
    $('#meme').click(function(){
          var param = {};
          param.head_id=document.getElementById('mydiv').dataset.test;
          param.team_id = [ m1id=document.querySelector('#m11id').value];
          param.event_id = "5e2dfdeef6a4be24209ce601";
          $.ajax({
                type: 'POST',
                url: '/participant/addparticipant',
                contentType: 'application/json',
                data:JSON.stringify(param),
                    success: function(data) {
						if(data.status == 200){
							alert("Congratulations!,You sucessfully registerd in Memethon!");
						  }
						if(data.status==95){
							alert("Already Registered");
						} 
						if(data.status==96){
							alert("Participant not Found");
						} 
						if(data.status==405){
							alert("Please login first");
						} 
                      }
          });
	});
});
</script>
								<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
								<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
								 crossorigin="anonymous"></script>
								<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
								 crossorigin="anonymous"></script>
								<script type="text/javascript" src="./js/parallax.min.js"></script>
								<script type="text/javascript" src="./js/slick.min.js"></script>
								<script type="text/javascript" src="./js/jquery.countdown.min.js"></script>
								<script type="text/javascript" src="./js/app.js"></script>
								<script type="text/javascript" src="./js/speaker.js"></script>
								<script type="text/javascript" src="./js/custom.js"></script>
								<script type="text/javascript" src="./js/popup.js"></script>
	</body>

	</html>