<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<!--external css-->
<link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="../css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css" href="../lib/gritter/css/jquery.gritter.css" />
<link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="../lib/advanced-datatable/css/demo_page.css" />
<link rel="stylesheet" type="text/css" href="../lib/advanced-datatable/css/demo_table.css" />
<link rel="stylesheet" type="text/css" href="../lib/advanced-datatable/css/DT_bootstrap.css" />
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="../css/admin.css" />
<link rel="stylesheet" type="text/css" href="../css/style-responsive.css">
<script src="../lib/chart-master/Chart.js"></script>

  <title>Question List</title>
</head>

<body>
  <section id="container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="index.html" class="logo"><b>Dash<span>Ecell</span></b></a>
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="mt">
                    <a class="active" href="/admin">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>Admin</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/participation">Participent List</a></li>
                        <li><a href="/admin/query">Query Desk</a></li>
                        <li><a href="/admin/task">Admin Task</a></li>
                        <li><a href="/admin/contact">Contact Generation</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>Event</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/eventcreation">Event Creation</a></li>
                        <li><a href="/admin/quizaddition">Quiz Addition</a></li>
                        <li><a href="/admin/quizmanage">Quiz Manage</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span>Quiz</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/addquestion">Add Question</a></li>
                        <li><a href="/admin/questionlist">Question List</a></li>
                        <li><a href="/admin/result">Result</a></li>
                        <li><a href="/participant/quiz">quiz</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
  <section id="main-content">
    <section class="wrapper site-min-height">
      <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <form class="form-inline style-form" action="/admin/questionlist" method="get">
              <select class="form-control" name="event">
                <option>Select Event</option>
                <% for(i=0; i<eventdata.length; i++){ %>
                  <option value="<%= eventdata[i]._id%>"><%= eventdata[i].eventName%></option>
                <%}%>
              </select>
              <input type="text" name="round" class="form-control" id="round" placeholder="Enter Round">
              <button type="submit" class="btn btn-theme">Submit</button>
            </form>
            <%if(docs.length !== 0){%>
            <div class="row mt">
              <div class="col-lg-12">
                <table id="table" border="1" class="table table-striped">
                  <tr>
                    <th>Sr.NO</th>
                    <th>Question</th>
                    <th>Option A</th>
                    <th>Option B</th>
                    <th>Option C</th>
                    <th>Option D</th>
                    <th>Action</th>
                  </tr>
                  <%for(var i=0; i<docs.length; i++){%>
                  <tr>
                    <td>
                      <%=(i+1)%>
                    </td>
                    <td>
                      <%=docs[i].question%>
                    </td>
                    <td>
                      <%=docs[i].option_a%>
                    </td>
                    <td>
                      <%=docs[i].option_b%>
                    </td>
                    <td>
                      <%=docs[i].option_c%>
                    </td>
                    <td>
                      <%=docs[i].option_d%>
                    </td>
                  </tr>
                  <%}%>
                </table>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <footer class="site-footer">
    <div class="text-center">
      <p>
        &copy; Copyrights <strong>Ecell KIET</strong>. All Rights Reserved
      </p>
      <a href="index.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  </section>
  
  <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" class="include" src="../lib/jquery.dcjqaccordion.2.7.js"></script>
<script type="text/javascript" src="../lib/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../lib/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script type="text/javascript" src="../lib/common-scripts.js"></script>
<script type="text/javascript" src="../lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="../lib/gritter-conf.js"></script>
<!--script for this page-->
<script type="text/javascript" src="../lib/sparkline-chart.js"></script>
<script type="text/javascript" src="../lib/zabuto_calendar.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../lib/advanced-datatable/js/jquery.dataTables.js"></script>
<!--common script for all pages-->
<!-- for tabel -->

</body>

</html>
